        body {
            font-family: 'Press Start 2P', cursive;
            background: radial-gradient(circle, #00aeff, #0094d8, #007db8);
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            width: 80%;
            max-width: 800px;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            text-align: center;
            margin-top: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            color: #40a0e0;
        }

        label {
            color: #fff;
        }

        input[type="text"] {
            background-color: rgba(0, 0, 0, 0.5);
            border: 2px solid #fff;
            color: #fff;
            margin-bottom: 10px;
        }

        input[type="text"]:focus {
            outline: none;
        }

        button[type="submit"] {
            background-color: #3498db;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #1f6692;
        }
    